.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bdrs-Bg {
  height: 96.5vmin;
  width: 103vmin;
}

.Bdrs-Img {
  height: 100%;
  width: 100%;
  cursor: pointer
}

.Bdrs-Img-Sean {
  height: 80%;
  width: 80%;
  cursor: pointer
}

.Bdrs-Img-Jason {
  height: 97%;
  width: 97%;
  cursor: pointer
}

.Bdrs-Img-Bharath {
  height: 85%;
  width: 85%;
  cursor: pointer
}

.Bdrs-Img-SN {
  height: 97%;
  width: 97%;
  cursor: pointer
}

.Bdrs-Img-SG {
  height: 95%;
  width: 95%;
  cursor: pointer
}